In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
def getData():
    columns = []
    solutions = []
    with open("mimic_synthetic_feat.name") as f:
        for line in f:
            columns.append(line.rstrip('\n')) #remove \n
    with open("mimic_synthetic_train.solution") as f:
        for line in f:
            if(line.rstrip('\n')!= ' '):
                solutions.append(line.rstrip('\n')) #remove \n
    df = pd.read_csv("mimic_synthetic_train.data",sep=" ",names=columns)
    df["DIED"] = solutions # 0 False 1 True
    df = df.infer_objects()
    df["DIED"] = pd.to_numeric(df["DIED"],downcast='integer')
    return df

In [3]:
df =getData()
df.head()

,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,GENDER,...,Othereyedx,Otitismedia,Dizziness,Othereardx,Othnervdx,Hrtvalvedx,Carditis,HTN,Htncomplicn,DIED
0,45524,108398,2128-05-15_23:42:00,2132-07-23_15:00:00,Private,ENGL,CATHOLIC,DIVORCED,WHITE,F,...,0,0,0,0,0.0,0,0,0,0,0
1,50520,186416,2134-03-17_03:59:00,2113-03-06_12:05:00,Private,ENGL,UNOBTAINABLE,SINGLE,WHITE,M,...,0,0,0,0,0.0,0,0,0,1,0
2,17956,126413,2164-04-05_17:32:00,2180-09-20_16:30:00,Medicaid,SPAN,CATHOLIC,WIDOWED,OTHER,M,...,0,0,0,0,0.0,0,0,0,0,0
3,90258,109355,2102-09-08_00:58:00,2166-06-26_15:30:00,Medicare,ENGL,NOT_SPECIFIED,MARRIED,WHITE,M,...,0,0,0,0,0.0,0,0,1,0,0
4,25159,123784,2163-08-06_12:07:00,2147-01-14_18:40:00,Medicare,ENGL,UNOBTAINABLE,MARRIED,UNKNOWN/NOT_SPECIFIED,F,...,0,0,0,0,0.0,0,0,0,0,0

# Print basic statistics using info\describe\nunique\value_counts

# Plot the following Age Histogram
## you can change the size by adding 
fig, ax = plt.subplots(figsize=(25,17))
## before callong .plot()

![title](age_histogram.png)

# Plot the following Age Histogram Grouped by DIED

![title](age_histogram_by_died.png)

## Whats wrong with the above plot?
## How would you fix it?

# Plot the Following age histogram groupd by died and normalized (hint:you can use normed=True in plot(deprecated) or density=1)

![title](age_histogram_by_died_normed.png)

# What insight did you get from the last plot?